.category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010c93;
}
.category-text {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 28px;
}
